{{>layouts/header}}

<table class="table">
    <thread>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thread>
    <tbody>
        {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <th><a href="/articles/{{id}}">{{title}}</a></th>
            <th>{{content}}</th>
        </tr>
        {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">글 쓰기</a>

{{>layouts/footer}}